:root {
  --pink: #e84393;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth; /* اسکرول نرم */
  scroll-padding-top: 6rem; /* فاصله برای نوار ثابت */
  overflow-x: hidden; /* جلوگیری از اسکرول افقی */
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}
header .logo span {
  color: var(--pink);
}
header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}
header .navbar a:hover {
  color: var(--pink);
}
header .icons {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}
header .icons a:hover {
  color: var(--pink);
}
header #taggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
}
