:root {
  /* --pink: #e84393; */
  --pink: #db6330;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth; /* اسکرول نرم */
  scroll-padding-top: 6rem; /* فاصله برای نوار ثابت */
  overflow-x: hidden; /* جلوگیری از اسکرول افقی */
}
section {
  padding: 2rem 9%;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.btn:hover {
  background: var(--pink);
}
.heading {
  text-align: center;
  padding: 1rem;
  margin: 2rem 0;
  color: #333;
  background: rgba(255, 51, 153, 0.05);
  font-size: 4rem;
}
.heading span {
  color: var(--pink);
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}
header .logo span {
  color: var(--pink);
}
header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}
header .navbar a:hover {
  color: var(--pink);
}
header .icons {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}
header .icons a:hover {
  color: var(--pink);
}
header #taggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}

.home {
  display: flex;
  align-items: center;
  background: url(/FlowerShop/images/banner.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 40rem 9%;
}
.home .content {
  max-width: 50rem;
}
.home h3 {
  font-size: 6rem;
  color: #333;
}
.home .content span {
  font-size: 3.5rem;
  color: var(--pink);
  padding: 1rem 0;
  line-height: 1.5;
}
.home .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 1rem 0;
  line-height: 1.5;
}
.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
  padding-bottom: 3rem;
}
.about .row .video-container {
  flex: 1 1 40rem;

  /* یا 
  flex-grow: 1;اگر فضای خالی در container وجود داشت، این آیتم اجازه دارد بزرگ شود.
flex-shrink: 1;اگر فضای container کم بود، این آیتم اجازه دارد کوچک شود. 
flex-basis: 40rem; اندازه اولیه آیتم قبل از تقسیم فضا.*/

  position: relative; /* این المان مرجع موقعیت‌دهی برای فرزندانش می‌شود. */
}
.about .row .video-container video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
  object-fit: cover;
}
.about .row .content {
  flex: 1 1 40rem;
}
.about .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 1.5rem 2rem;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  /* این ویژگی مشخص می‌کند که رنگ‌های یک المان چطور با رنگ‌های پشتش ترکیب شوند */
  mix-blend-mode: screen;
}
.about .row .content h3 {
  font-size: 3rem;
  color: #333;
}
.about .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
  text-align: justify;
}
.icons-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  background: #eee;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.icons-container .icons {
  display: flex;
  align-items: center;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  flex: 1 1 25rem;
  border-radius: 1rem;
}
.icons-container .icons img {
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icons h3 {
  color: #333;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.icons-container .icons span {
  color: #555;
  font-size: 1.3rem;
}
@media (max-width: 1400px) {
  .home {
    background-position: left;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .home {
    background-position: left;
  }
}
@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #taggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
  .home .content h3 {
    font-size: 5rem;
  }
  .home .content span {
    font-size: 2.5rem;
  }

  .icons-container .icons h3 {
    font-size: 2rem;
  }
  .icons-container .icons span {
    font-size: 1.7rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}
